header {
  margin: 25px auto;
}

header > .row > * {
  padding-left: 0;
  padding-right: 0;
}

h3 {
  text-align: right;
}

table {
  border: 2px solid black;
}

thead {
  background-color: lightgray;
}

.th {
  border-right: 2px solid black;
}

td, .th {
  border-left: 2px solid black;
}
